* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    margin: 0;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    padding: 20px;
    margin: 0;
    color: rgba(54, 7, 7, 0.836);
    text-align: center;
}

p {
    padding: 15px;
    margin: 0;
    border-top: 2px solid #ffe0e0;
}

.container {
    max-width: 650px;
    width: 100%;
    margin: 100px auto;
    border: 5px solid #ffe0e0;
}


